/*body {color: black; background-color: white; font-size: 1.3em; }*/
embed {border: 2px solid black; padding: 0px; width: 100%; color: black; background-color: white;}

button {
#width:0.0000000001px;
height:0.00000000001px;
  background-color: #ffffff;
  color: Blue;
  padding: 14px 20px;
  margin: 0px 0;
  border: none;
  cursor: pointer;
}
